<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>135618531972-773lpte4es53i3870cs591btmic6rrf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135618531972-773lpte4es53i3870cs591btmic6rrf3</string>
	<key>API_KEY</key>
	<string>AIzaSyAzdYIIOpCWt8oFEPVc9jnafkkntfKMnPc</string>
	<key>GCM_SENDER_ID</key>
	<string>135618531972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Classes.ios-final-project</string>
	<key>PROJECT_ID</key>
	<string>biddle-135ab</string>
	<key>STORAGE_BUCKET</key>
	<string>biddle-135ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:135618531972:ios:f35234595abd74c9</string>
	<key>DATABASE_URL</key>
	<string>https://biddle-135ab.firebaseio.com</string>
</dict>
</plist>